.boxes {
  /* background-color: black; */
  border-style: solid;
  padding: 2px;
  margin-left: 0px;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;

  align-items: center;
}
input {
  text-align: center;
}
.rows {
  margin: 0px;
}
/* .table {
  display: flex;
  flex-direction: row;
  flex-flow: row;
} */

/* input {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  flex-direction: row;
  flex-basis: auto;
  margin: 0;
} */
.green {
  background-color: green;
}
.orange {
  background-color: orange;
}
