.boxes {
  /* background-color: black; */
  border-style: solid;
  padding: 5vh;
  margin-left: 0px;
  margin-bottom: 2px;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;

  align-items: center;
}
input {
  text-align: center;
}
.rows {
  margin: 0px;
}

.green {
  background-color: green;
}
.orange {
  background-color: orange;
}
